{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form, {'method': 'GET'}) }}
   {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.dueDate) }}

    {{ form_row(form.submit, { 'label': 'Submit me' }) }}
{{ form_end(form) }}
      <h1>
  Operateur
    </h1>
          <input type="file" id="lefichier" name="lefichier" >
          
          <input type="text" id="matier" name="matier" value="">
          <input type="submit" value="">
    <ul>

    </ul>
    
   


{% endblock %}
